<div id="layoutSidenav_nav">
    <nav class="sb-sidenav accordion sb-sidenav-dark bg-primary" id="sidenavAccordion">
        <div class="sb-sidenav-menu">
            <div class="nav">
                <div class="sb-sidenav-menu-heading">Geral</div>
                <a class="nav-link" href="{% url 'home' %}">
                
                    <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                    Dashboard
                </a>
                <a class="nav-link" href="{% url 'lista_departamentos' %}">
                    <div class="sb-nav-link-icon"><i class="bi bi-collection-fill"></i></div>
                    Departamentos
                </a>
                <a class="nav-link" href="{% url 'lista_fornecedores' %}">
                    <div class="sb-nav-link-icon"><i class="bi bi-people-fill"></i></div>
                    Fornecedores
                </a>
                <a class="nav-link" href="{% url 'lista_categorias' %}">
                    <div class="sb-nav-link-icon"><i class="bi bi-tags-fill"></i></div>
                    Categorias
                </a>
                <a class="nav-link" href="{% url 'lista_movimentacoes' %}">
                    <div class="sb-nav-link-icon"><i class="bi bi-repeat"></i></div>
                    Movimentações
                </a>
                
            </div>
        </div>
        <div class="sb-sidenav-footer">
            <div class="small">Logado como:</div>
            {% if user.is_authenticated %}
    <p>{{ user.username }}</p>
{% else %}
    <p>Você não está autenticado.</p>
{% endif %}
{% if user.is_authenticated %}
<form action="{% url 'usuarios:logout' %}" method="post">
{% csrf_token %}
<button type="submit" class="btn btn-danger">Sair</button>
</form>
{% endif %}
        </div>

    </nav>
</div>